@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
:root {
    --heading-font: 'https://fonts.google.com/specimen/Merriweather?query=merri', serif;
    --paragraph-font: 'https://fonts.google.com/specimen/Lora?query=lora', serif;
}

* {
    margin: 0 0 0 0.5;
    padding: 0;
    box-sizing: border-box;
}

header img {
    width: 100px;
}


body {
    width: 1200px;;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height:auto;
}

article {
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
    color: blue;
}
h2 {
    margin: 1rem 0 1rem 1rem;
}

p {
    margin: 1rem 0 1rem 1rem;
}

footer nav {
    width: 1rem;
    margin: 1rem 0 1rem 1rem;

}

main h1 {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    text-align: center;
    color: red;
}

.hero article img {
    float: right;
    width: auto;
    height: auto;
}