@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
:root {
    --heading-font: 'https://fonts.google.com/specimen/Merriweather?query=merri', serif;
    --paragraph-font: 'https://fonts.google.com/specimen/Lora?query=lora', serif;
}

.hero img {
    position: relative;
    display:block;
    width: 100%;
    height:auto;
}

article {
    position: absolute;
    top: 0;
    right: 0;
}


footer nav {
    position: relative;
    width: 1rem;
}

main h1 {
    position: absolute;
    top: 570px;
    left: 500px;
    color: red;
}

article img {
    float: right;
   top: 700px;
   right: 300px;
   width: auto;
   height: auto;
}
article p {
    float: center;

}

h2 img {
    position: absolute;
}
